<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天室1</title>
</head>
<body>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
<input type="text" placeholder="0">
<div id="div1">
    <iframe align="center" src="room_chat_record.html"></iframe>

</div>
<input type="text" placeholder="1">
<script>
    $(document).ready(function () {
        setInterval(function () {
            $("#div1").load("/chat");
        }, 10000);
    });
</script>
<input type="text" placeholder="3">

</body>
</html>