<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("button").click(function () {

                $.post("/new", {
                        name: "  ",
                        url: "http://www.runoob.com"
                    },
                    function (data, status) {
                        alert("数据: \n" + data + "\n状态: " + status);
                    });
            });
        });

    </script>

</head>
<body>
<input type="text">
<button id="b01" type="button">Submit</button>


</body>
</html>